.footerContainer {
  background-color: #000000;
  color: #ffffff;
  padding: 3rem 5%;
  border-top: 1px solid #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerLogo {
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.logoHighlight {
  color: #45ffca;
}

.footerText {
  color: #9ca3af;
  font-size: 0.9rem;
  font-family: sans-serif;
  margin: 0;
}